<%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %> | 
<%= link_to 'back to users', users_path %>

<div class="show-item">
<%= render @user %>
</div>
