<h1><%= t("activerecord.h1.edit") %></h1>

<%= render "form", book: @book %>

<br>

<nav>
  <%= link_to t("activerecord.link.show"), @book %> |
  <%= link_to t("activerecord.link.back"), books_path %>
</nav>
